.head{
    position: fixed;
    top:0;
    right:0;
    left:0;
    height:100px;
    background-color:#2E3133;
    padding:20px;
}
.head .menu{
    border:0 !important;
    background-color:#2E3133 !important;
    border-radius:0 !important;
    box-shadow: 0 2px 1px -2px gray !important;
}
.head .title{
    text-transform: uppercase;
    color:#fafafa;
    font-size:40px;
    font-family:'Special Elite',cursive;
}
.head .title p{
    font-size:15px;
    color:#727272;
}
.head .nav a{
    font-family: 'M PLUS 1p', sans-serif;
    font-size:15px;
    color:#fafafa !important;
}