.stories .row{
    padding-left:100px !important;
    padding-right:100px !important;
}
.stories .row .card{
    width:100%;
}
.story_title{
    font-family: 'Julius Sans One',cursive;
    font-size:25px;
    font-weight:bold;
}
.snippet{
    font-family:"Ubuntu",cursive;
}