.home .card{
    width:100% !important;
    min-height:400px !important;
}
.home .card .header{
    min-height:60px;
    padding:20px;
    font-family: 'Sawarabi Mincho',cursive;
    font-size:30px;
    color:#727272;
}
.home .card .content{
    font-family:"Staachliches",cursive;
    font-size:15px !important;
    font-kerning: auto;
    font-feature-settings: "c2pc";
    padding:40px !important;
}
.home .continue{
    font-size:20px;
    padding:20px !important;
    text-align: right !important;
}
.home .continue span{
    color:#3A5ED5;
    float:right !important;
    position: absolute;
    right:30px !important;
}