.home .card{
    width:100% !important;
    min-height:400px !important;
    box-shadow: none !important;
}
.home .card .header{
    min-height:60px;
    padding:20px;
    font-family: 'Sawarabi Mincho',cursive;
    font-size:30px;
    color:#0a0a0a;
}
.home .card .content{
    font-family:"Alegreya Sans",sans-serif !important;
    font-size:18px !important;
    font-kerning: auto;
    font-weight:200;
    padding:40px !important;
    padding-right:400px !important;
    color:rgb(99, 97, 97);
}
.home .continue{
    font-size:20px;
    padding:20px !important;
    text-align: right !important;
}
.home .continue span{
    color:#3A5ED5;
    float:right !important;
    position: absolute;
    right:30px !important;
}
.home .card .content p{
    padding-left:30px;
}
.quote::before{
    content:'"';
    position: absolute;
    margin-right:30px !important;
    font-size:50px;
    font-weight:bold;
    font-family:'Rock Salt',cursive;
    height:50px;
    color:purple;
    background-repeat: no-repeat;
}

/* Media queries */
@media(max-width:768px){
    .home .card .header{
        font-size:20px;
    }
    .home .card .content{
        padding:0 !important;
    }
    .quote{
        margin-top:30px;
    }
}

@media(max-width:1200px){
    .home .card .content{
        padding:0 !important;
    }
    .quote{
        margin-top:30px;
    }
}